.popup__content {
    width: 100%;
    max-width: 430px;
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: end;
    grid-area: content;
}

@media screen and (max-width: 960px) {
    .popup__content {
        margin: 0 auto;
    }
}